:root {
  // Jasny motyw
  --light-background: #f5f5f5; // Tło(bardzo jasny szary)
  --light-main: #3498db; // Główny, akcentowy(niebieski, np. na przyciski, linki)
  --light-headlines: #2c3e50; // tekst nagłowki(ciemny granat)
  --light-text: #4f4f4f; // treść(ciemnoszary)
  --light-incomes: #27ae60; // przychody(zielony)
  --light-expenses: #e74c3c; // wydatki(czerwony)
  --light-hover: #2980b9; // przyciski hover(ciemniejszy niebieski)
  // Ciemny motyw
  --dark-background: #2c3e50; // Tło(ciemny granat)
  --dark-main: #3498db; // Główny, akcentowy(ten sam niebieski, kontrastowy)
  --dark-headlines: #ecf0f1; // tekst nagłowki(jasnoszary)
  --dark-text: #bdc3c7; // treść(jaśniejszy szary)
  --dark-incomes: #2ecc71; // przychody(jasnozielony)
  --dark-expenses: #e74c3c; // wydatki(ten sam czerwony)
  --dark-hover: #2980b9; // przyciski hover(ten sam ciemniejszy niebieski)
}
