@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --color-background: #1e1e2e;
    --color-aside: #282a36;
    --color-headlines: #a855f7;
    --color-text: #eaeaea;
    --color-incomes: #00c853;
    --color-expenses: #e53935;
    --color-hover: #8b5cf6;
    --color-active: #a855f7;
    --color-card: #6b21a8;
    --color-active-bg: rgba(42, 45, 64, 0.85);
    --font-roboto: "Roboto", sans-serif;
    --shadow-input-hover: 0px 0px 0px 2px var(--color-hover);
    --shadow-input-active: 0px 0px 0px 2px var(--color-active);
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-background: #2c3e50;
      --color-main: #3498db;
      --color-headlines: #ecf0f1;
      --color-text: #bdc3c7;
      --color-incomes: #2ecc71;
      --color-expenses: #e74c3c;
      --color-hover: #2980b9;
    }
  }

  :root[data-theme="dark"] {
    --color-background: #2c3e50;
    --color-main: #3498db;
    --color-headlines: #ecf0f1;
    --color-text: #bdc3c7;
    --color-incomes: #2ecc71;
    --color-expenses: #e74c3c;
    --color-hover: #2980b9;
  }

  :root[data-theme="light"] {
    --color-background: #f5f5f5;
    --color-main: #3498db;
    --color-headlines: #2c3e50;
    --color-text: #4f4f4f;
    --color-incomes: #27ae60;
    --color-expenses: #e74c3c;
    --color-hover: #2980b9;
  } */
}

@theme {
  --color-background: var(--color-background);
  --color-aside: var(--color-aside);
  --color-headlines: var(--color-headlines);
  --color-text: var(--color-text);
  --color-incomes: var(--color-incomes);
  --color-expenses: var(--color-expenses);
  --color-hover: var(--color-hover);
  --color-active: var(--color-active);
  --color-card: var(--color-card);
  --color-interactive: var(--color-interactive);
  --color-active-bg: var(--color-active-bg);
  --font-roboto: var(--font-roboto);
  --shadow-input-hover: var(--shadow-input-hover);
  --shadow-input-active: var(--shadow-input-active);
}

.icon {
  filter: invert(99%) sepia(7%) saturate(17%) hue-rotate(329deg)
    brightness(115%) contrast(84%);
}

a:hover .icon {
  filter: invert(34%) sepia(33%) saturate(4119%) hue-rotate(240deg)
    brightness(105%) contrast(93%);
}

button:hover .icon {
  filter: invert(34%) sepia(33%) saturate(4119%) hue-rotate(240deg)
    brightness(105%) contrast(93%);
}

.active {
  background-color: var(--color-active-bg);
  color: var(--color-active);
  border-radius: 3px;
}

.active > .icon {
  filter: invert(37%) sepia(67%) saturate(1262%) hue-rotate(242deg)
    brightness(98%) contrast(99%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay .modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 40px 0;
  background-color: var(--color-aside);
  z-index: 100;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@media (max-width: 1280px) {
  .overlay .modal {
    width: 40%;
  }
}

@media (max-width: 820px) {
  .overlay .modal {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .overlay .modal {
    width: 80%;
  }
}
